{% extends "base.html" %}
{% load helper_tag %}
{% load crispy_forms_tags %}

{% block title %} Insert Data{% endblock %}
{% block content %}
    <section class="flex items-center justify-center">
        <div class="w-1/2">
            <div class="py-8 ">
                <h2 class="font-bold text-2xl">Book Detail </h2>
            </div>
            <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" enctype="multipart/form-data" method="POST"
                  action=" /book/store">
                {% csrf_token %}
                <div class="mb-4">
                    <div id="div_id_book_name" class="mb-3">
                        <label for="id_book_name" class="block text-gray-700 text-sm font-bold mb-2">
                            Book name<span class="asteriskField">*</span>
                        </label>
                        <input type="text" name="book_name"
                               value="{{ model.book_name }}"
                               class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:border-indigo-700 focus:outline-none focus:bg-white textinput py-2 leading-normal block px-4 bg-white w-full border focus:outline-none appearance-none text-gray-700 border-gray-300 rounded-lg"
                               maxlength="100" required id="id_book_name">

                    </div>


                </div>

                <div class="mb-4">


                    <div id="div_id_isbn" class="mb-3">

                        <label for="id_isbn" class="block text-gray-700 text-sm font-bold mb-2">
                            Isbn<span class="asteriskField">*</span>
                        </label>


                        <input type="text" name="isbn"
                               value="{{ model.isbn }}"
                               class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:border-indigo-700 focus:outline-none focus:bg-white textinput py-2 leading-normal block px-4 bg-white w-full border focus:outline-none appearance-none text-gray-700 border-gray-300 rounded-lg"
                               maxlength="20" required id="id_isbn">


                    </div>


                </div>

                <div class="mb-4">


                    <div id="div_id_publisher" class="mb-3">

                        <label for="id_publisher" class="block text-gray-700 text-sm font-bold mb-2">
                            Publisher<span class="asteriskField">*</span>
                        </label>


                        <input type="text" name="publisher"
                               value="{{ model.publisher }}"
                               class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:border-indigo-700 focus:outline-none focus:bg-white textinput py-2 leading-normal block px-4 bg-white w-full border focus:outline-none appearance-none text-gray-700 border-gray-300 rounded-lg"
                               maxlength="50" required id="id_publisher">


                    </div>


                </div>


                <div class="mb-4">


                    <div id="div_id_author" class="mb-3">

                        <label for="id_author" class="block text-gray-700 text-sm font-bold mb-2">
                            Author<span class="asteriskField">*</span>
                        </label>


                        <input type="text" name="author"
                               value="{{ model.author }}"
                               class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:border-indigo-700 focus:outline-none focus:bg-white textinput py-2 leading-normal block px-4 bg-white w-full border focus:outline-none appearance-none text-gray-700 border-gray-300 rounded-lg"
                               maxlength="50" required id="id_author">
                    </div>


                </div>

                <div class="mb-4">


                    <div id="div_id_cover" class="mb-3">

                        <label for="id_cover" class="block text-gray-700 text-sm font-bold mb-2">
                            Cover<span class="asteriskField">*</span>
                        </label>


                        <input type="text" name="cover" maxlength="50"
                               class="textinput py-2 leading-normal block px-4 bg-white w-full border focus:outline-none appearance-none text-gray-700 border-gray-300 rounded-lg"
                               required id="id_cover">


                    </div>
                </div>
                <img src='http://127.0.0.1:8000/book-cover/{{ model.cover }}' height="300" style="padding-bottom: 2rem" />

                <div class="flex items-center justify-start">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                            type="submit">
                        Save
                    </button>
                    <div class="px-6">
                        <button onclick="window.location.href='/'" type="button"
                                class="bg-purple-700 hover:bg-purple-600 text-white font-bold py-2 px-4 rounded">
                            Cancel
                        </button>
                    </div>

                </div>
            </form>
        </div>
    </section>
{% endblock %}

{% block script %}
    <script>
        /*
        * FilePond Initialization
        */
        const inputElement = document.querySelector('input[id="id_cover"]');
        const token = document.querySelector('[name=csrfmiddlewaretoken]').value;
        // FilePond.registerPlugin(
        //     FilePondPluginImageExifOrientation,
        //     FilePondPluginImagePreview,
        // );
        // const edit = document.getElementsByName
        FilePond.registerPlugin(
            FilePondPluginImageExifOrientation,
            FilePondPluginImagePreview,
            FilePondPluginFileValidateType,
        );
        let pond = FilePond.create(
            inputElement, {
                acceptedFileTypes: ['image/jpeg', 'image/png', 'image/jpg'],
                // labelFileTypeNotAllowed: 'File Gambar tidak valid',
                // fileValidateTypeLabelExpectedTypes: 'File harus berekstensi .jpeg/.jpg atau .png',
                // labelFileProcessingComplete: `Upload Berhasil`,
                //     labelTapToUndo: `ketuk untuk membatalkan`,
                //     labelTapToCancel: `ketuk untuk membatalkan`,
                //     labelFileProcessingError: `Gagal Memproses`,
                //     labelTapToRetry:`ketuk untuk coba lagi`,
                //     labelFileProcessing: `Sedang memproses`,
                // labelIdle: `Seret dan tempel atau <span class="filepond--label-action">Pilih Foto</span>`,
                credits: false,
            });
        var value = document.getElementsByClassName('filepond--data');

        const file = pond.files;
        pond.setOptions({
            server: {
                process: {
                    url: "{{ tempUpload }}",
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': "{{ csrf_token }}",
                    },
                },
                revert: {
                    url: "/temp/revert/",
                    method: 'GET',
                },
                headers: {
                    'X-CSRF-TOKEN': "{{ csrf_token }}",
                }
            }
        });
    </script>

{% endblock %}